* {
    margin: 0px;
    padding: 0px;
}
body {
    font-size: 1em;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #7FFFD4;

}

.cabecalho{
    background: #808080;
    padding: 15px;
    text-align: center;
}

.logo, menu{
    padding: 10px;

}
h1{
    color: blueviolet;
}

.blog{
    color: white;
}
a{
    text-decoration: none;
}
a:link, a:visited{
    color: #D8BFD8;
}
a:hover{
    text-decoration: underline;
}


.cabecalho a{
    text-decoration: none;
    color: mediumaquamarine;
    padding: 8px 12px;
}
.cabecalho a:link, a:visited{
    color: #D8BFD8;
}
.cabecalho a:hover{
    text-decoration: underline;
    color: #D8BFD8;
    background: #4F4F4F;
    text-decoration: none;

}
.areaprincipal{
    margin: 15px auto;
    /*background: white;*/
    width: 920px;
    
}
.areapostagem{
    float: left;
    width: 660px;
    background: white;
    margin-bottom: 15px;
}
.arealateral{
    width: 240px;
    float: right;
    /*background: white;*/
}
.rodape{
    background: #ccc;
    clear: both;
    text-align: center;
    padding: 15px;
}
h3{
    color: #191958;
}
.postagens{
    margin-bottom: 20px;
    border-bottom: 1px solid #fff;
    padding: 20px;
    display: block;
    
}
.postagens{
    background: white;
    padding: 20px;
    margin-bottom: 20px;
    
}
.postagens2{
    padding: 20px;
    margin-bottom: 20px;
    background: white;
    border-top: grey;
}
 
h3{
    color: red;
    background: #ccc;

}
.conteudolateral{
    background: white;
    padding: 10px;
    margin-bottom: 20px;
}

.postagemlateral{
    font-size: 0.8em;
    padding: 5px;
    border-bottom: 1px dotted #f4f4f4 ;
}
.postagemlaterallink{
    color: brown;
}
hr{
    color: #C0C0C0;
}

.container{
    font-family: Arial, Helvetica, sans-serif;
    max-width: 300px;
    margin: auto;
    background-color: aliceblue;
    padding: 20px;
    border-radius: 10px;
}
.container h1{
    color: black;
    margin-bottom: 20px;
}

input{
    width: 100%;
    display: block;
    padding: 5px;
    box-sizing: border-box;
    margin-bottom: 10px;

}